.apps {
  padding: 28px 0;
}

.apps__list {
  .list-reset();
}

.apps__info {
  font-weight: lighter;
  text-align: center;
  color: @white;
  line-height: 24px;
}

.apps__button {
  width: 100%;
  color: @white;
  font-weight: bold;
  border-color: @white;
  display: block;
}

.apps__wrapper {
  .wrapper(@mobile-width);
}
