.contact {
  margin-bottom: 28px;
}

.contact__title {
  margin: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: @bg-darkblue;
}

.contact__link {
  display: block;
  margin: 0;

  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
  color: @text-blood;
}
