.contacts__wrapper {
  .wrapper(@mobile-width);
}

.contacts__title {
  margin: 42px 0 30px 0;

  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
  color: @bg-darkblue;
}

.contacts__map {
  position: relative;
  height: 200px;

  background-color: @bg-gray-dark;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    z-index: 1;

    display: block;
    width: 100%;
    height: 40px;

    border-right: 50vw solid transparent;
    border-top: 35px solid @white;
    border-left: 50vw solid transparent;
    border-bottom-style: none;
  }
}

.contacts__map-picture {
  position: absolute;
  bottom: -3px;
  left: auto;
  right: auto;

  width: 100%;
  height: auto;
}

.contacts__map-image {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.contacts__info {
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    .wrapper(@tablet-width; 10px);
  }

  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 50px;
    margin-top: 42px;
    margin-bottom: 35px;
    padding: 0 40px;
  }

  .contacts__map {
    height: 365px;

    &::before {
      border-top: 60px solid #fff;
    }
  }

  .contacts__info {
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    .wrapper(@desktop-width);
  }

  .contacts__title {
    font-size: 50px;
    line-height: 60px;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 0 200px;
  }

  .contacts__info {
    justify-content: space-between;
  }

  .contacts__map {
    height: 480px;

    &::before {
      border-top: 90px solid #fff;
    }
  }
}
