.contest__wrapper {
  .wrapper(@mobile-width);
}

.contest__header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contest__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: @bg-darkblue;
}

.contest__contestant {
  display: block;
  padding-bottom: 40px;

  background-color: @white;
  border: none;
}

.contest__achievement {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: @bg-gray;
  border: none;
}

.contest__contact {
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: @white;
  border: none;
}

.contest__apps {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: @bg-gray;
  border: none;
}

.contest__comment {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: @white;
  border: none;
}
