.contact {
  margin-bottom: 18px;
}

.contact__title {
  margin: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: @bg-darkblue;
}

.contact__link {
  display: block;
  margin: 0;

  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
  color: @text-blood;
}

@media (min-width: @tablet-width) {
  .contact {
    width: 240px;
    margin: 5px 0 40px 0;
  }
}

@media (min-width: @desktop-width) {
  .contact {
    width: 280px;
    margin: 5px 0 40px 0;

    &--email{
      order: 3;
    }
  }

  .contact__title {
    margin-bottom: 20px;
  }
}
