.contacts__wrapper {
  .wrapper(@mobile-width);
}

.contacts__title {
  margin: 40px 0 32px 0;

  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
  color: @bg-darkblue;
}

.contacts__map {
  position: relative;
  height: 215px;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    z-index: 1;

    display: block;
    width: 100%;

    border-right: 50vw solid transparent;
    border-top: 35px solid #fff;
    border-left: 50vw solid transparent;
  }
}

.contacts__info {
  padding-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    .wrapper(@tablet-width);
  }

  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 50px;
    margin-top: 42px;
    margin-bottom: 35px;
    padding: 0 30px;
  }

  .contacts__map {
    height: 360px;
  }
}
