.contacts__wrapper {
  .wrapper(@mobile-width);
}

.contacts__title {
  margin: 42px 0 32px 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: @bg-darkblue;
}

.contacts__map {
  position: relative;
  height: 200px;

  background-color: @bg-gray-dark;
  overflow: hidden;

  .background(50%; 100%; cover);
  background-image: url("../img/bg-map-mobile@1x.png");

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;

    display: block;
    width: 100%;
    height: 40px;

    border-right: 50vw solid transparent;
    border-top: 35px solid @white;
    border-left: 50vw solid transparent;
    border-bottom-style: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 17px);
    bottom: 71px;

    display: block;
    width: 33px;
    height: 33px;

    background-color: @text-blood;
    border: 8px solid @white;
    border-radius: 50%;
  }
}

.contacts__map-picture {
  position: absolute;
  bottom: -3px;
  left: auto;
  right: auto;

  width: 100%;
  height: auto;
}

.contacts__map-image {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.contacts__info {
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    .wrapper(@tablet-width; 10px);
  }

  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 37px;
    padding: 0 40px;
  }

  .contacts__map {
    height: 365px;
    .background(50%; 60%; 100% cover);
    background-image: url("../img/bg-map-desktop@1x.jpg");

    &::before {
      border-top: 60px solid @white;
    }

    &::after {
      content: "";
      position: absolute;
      left: calc(50% - 17px);
      bottom: 145px;

      display: block;
      width: 33px;
      height: 33px;

      background-color: @text-blood;
      border: 8px solid @white;
      border-radius: 50%;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    .wrapper(@desktop-width);
  }

  .contacts__title {
    font-size: 50px;
    line-height: 60px;
    margin-top: 64px;
    margin-bottom: 48px;
    padding: 0 200px;
  }

  .contacts__info {
    justify-content: space-between;
  }

  .contacts__map {
    height: 484px;

    &::before {
      border-top: 90px solid @white;
    }

    &::after {
      bottom: 205px;
    }
  }
}
