.contest {
  &__wrapper {
    .wrapper(@mobile-width);
  }

  &__header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    font-size: @body-font-size;
    font-weight: 400;
    line-height: 30px;
    color: @bg-darkblue;
    text-align: center;
  }

  &__contestant {
    padding-bottom: 40px;
    display: block;
    border: none;
    background-color: @white;
  }

  &__achievement {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    border: none;
    background-color: @bg-gray;
  }

  &__contact {
    padding-top: 20px;
    padding-bottom: 40px;
    display: block;
    border: none;
    background-color: @white;
  }

  &__apps {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    border: none;
    background-color: @bg-gray;
  }

  &__comment {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    border: none;
    background-color: @white;
  }
}
