.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: @bg-darkblue;
}

.copyright__text {
  margin: 0;
}

.copyright__link {
  padding-top: 8px;
  outline: none;
}

.copyright__icon {
  fill: @text-blood;
}

.copyright__link:hover .copyright__icon,
.copyright__link:focus .copyright__icon {
  fill: @bg-darkblue;
}

.copyright__link:active .copyright__icon {
  fill: fade(@bg-darkblue, 30);
}

@media (min-width: @desktop-width) {
  .copyright {
    font-size: 18px;
  }
}
