.feature {
  color: @bg-darkblue;
  text-align: center;

  &__title {
    font-size: @body-font-size + 4px;
    line-height: 10px;
  }

  &__info {
    font-size: @body-font-size;
    line-height: 24px;
  }

}
