.footer__wrapper {
  .wrapper(@mobile-width);
}

.footer__logo {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;

  text-align: center;
}

.footer__social {
  width: 100%;
}

.footer__developper {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 40px;

  color: @bg-darkblue;

  text-align: center;
}

.footer__copyright {
  display: inline-block;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: @bg-darkblue;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    .wrapper(@tablet-width);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logo {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer__social {
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer__developper {
    width: auto;
    padding: 14px 14px 1px 18px;

    font-size: 14px;
    line-height: 18px;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    .wrapper(@desktop-width, 0);

    padding: 0px 0 50px 10px;
  }

  .footer__developper {
    padding-right: 24px;
  }

  .footer__copyright {
    font-size: 18px;
  }
}
