.form {
  letter-spacing: 0.4px;
}

.form__list {
  .list-reset();
  padding-top: 20px;
}

.form__legend {
  padding: 38px 20px 15px 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @text-blood;

  &--mobile-hide {
    display: none;
  }
}

.form__label {
  display: inline-block;
  padding: 10px 20px 5px 22px;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: @text-blood;
}

.form__label-in-list {
  position: relative;

  display: inline-block;
  padding: 10px 0 10px 10px;

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: @bg-darkblue;
}

.form__checkbox {
  padding-left: 70px;
  margin-bottom: 32px;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 16px);
    left: 0;

    width: 36px;
    height: 36px;

    border: 2px solid @bg-gray-dark;
    background-color: @white;
  }
}

.form__check:checked + .form__checkbox::after {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  left: 8px;

  width: 20px;
  height: 10px;

  border-left: 2px solid @text-blood;
  border-bottom: 2px solid @text-blood;

  transform: rotate(-45deg);
}

.form__radio {
  padding-left: 70px;
  margin-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 18px);
    left: 0;

    width: 36px;
    height: 36px;

    border: 2px solid @bg-gray-dark;
    background-color: @white;

    border-radius: 50%;
  }
}

.form__check:checked + .form__radio::after {
  content: "";
  position: absolute;
  top: calc(50% - 6.5px);
  left: 11.5px;

  width: 13px;
  height: 13px;

  background-color: @text-blood;
  border-radius: 50%;
}

.form__text-field {
  display: block;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: @bg-darkblue;

  border: 1px solid @bg-gray-dark;
}

.form__textarea {
  display: inline-block;
  width: 100%;
  margin-bottom: 42px;
  padding: 15px 20px 35px 20px;

  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: @bg-darkblue;

  border: 2px solid @bg-gray-dark;
}

.form__submit {
  width: 100%;
  padding: 20px;

  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: @wood-green;
  background-color: @wood-green;
}

.form__submit-note {
  margin-top: 35px;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @bg-darkblue;

  &--red {
    color: @text-blood;
  }
}

@media (min-width: @tablet-width) {
  .form__wrapper-main {
    .wrapper(@tablet-width);
  }

  .form__field-contestant {
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
  }

  .form__field-contact {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-top: 12px;

    &:first-of-type {
      margin-top: 38px;
    }

    &--phone::after,
    &--email::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 61px;
      height: 61px;

      background-color: @bg-gray-dark;
      .background(50%, 50%, auto);
    }

    &--phone::after {
      background-image: url('../img/icon-phone.svg');
    }

    &--email::after {
      background-image: url('../img/icon-mail.svg');
    }
  }

  .form__label {
    padding: 16px 20px 16px 0;

    &--contact {
      padding: 3px 20px 16px 20px;
      order: 1;
      letter-spacing: 0.3px;
    }
  }

  .form__text-field --contact {
    letter-spacing: 0.7px;
  }

  .form__legend {
    padding: 0px 20px 0px 20px;
    margin: 0 auto;

    background-color: white;

    &--mobile-hide {
      display: inline;
    }
  }

  .form__radio {
    padding-left: 60px;
    margin-bottom: 26px;

    &::before {
      width: 38px;
      height: 38px;
    }
  }

  .form__list {

  }

  .form__checkbox {
    padding-left: 60px;
    margin-bottom: 32px;

    &::before {
      top: 6px;
      left: 0;
      width: 38px;
      height: 38px;
    }
  }

  .form__check:checked + .form__checkbox::after {
    top: calc(50% - 8px);
    left: 10px;
  }

  .form__textarea {
    padding: 15px 0px 0px 15px;
    margin-bottom: 35px;

    min-height: 192px;

    letter-spacing: 0.4px;
  }

  .form__submit {
    width: 300px;
  }

  .form__submit-note {
    margin: 0;
  }
}
