.intro {
  box-sizing: border-box;
}

.intro__apps {
  background-color: @bg-darkestblue;
}

.intro__image {
  margin-top: 110px;
}

.intro__title {
  width: 100%;
  margin-top: 36px;
  padding-bottom: 85px;

  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  color: @white;
  text-align: center;
}

.intro__wrapper {
  .wrapper(@mobile-width);
}
