.likes {
  position: relative;

  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: @text-blood;
}

.likes__button {
  position: absolute;
  top: calc(50% - 1.5em / 2);
  left: 0;

  width: 1.5em;
  height: 1.5em;
  .button-reset();

  background-image: url("../img/icon-heart.svg");
  .background(50%, 50%, 1.2em);
}

.likes__counts {
  margin: 0;
  padding: 10px 0 3px 30px;
}

@media (min-width: @tablet-width) {
  .likes__counts {
    padding: 0 35px 0 0;
  }

  .likes__button {
    left: auto;
    right: 0;
  }
}
