.main-nav {
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: @bg-darkblue;
}

.main-nav__list {
  .list-reset();
}

.main-nav__item {
  // margin-bottom: 2px;

  text-align: center;

  border-bottom: 1px solid @black;

  box-shadow: inset 0 1px 0 0 fade(@white, 15%);
}

.main-nav__link {
  display: block;
  padding: 18px 15px 13px 15px;

  color: @white;
}
