.page-header {
  box-sizing: border-box;

  background-color: #2c3949;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  .background(50%, 0%, cover);
}

.page-header__top {
  min-height: 66px;
  background-color: fade(@black, 30%);

  &--open {
    background-color: @bg-darkblue;
    border-color: @black;
  }
}

.page-header__wrapper {
  .wrapper(@mobile-width);
}

.page-header__hamburger {
  position: absolute;
  top: calc(50% - 12px);
  right: 20px;
  width: 50px;
  height: 24px;
  .button-reset();
  background-image: url("../img/icon-menu-burger.svg");
  .background();

  &--open {
    width: 23px;
    background-image: url("../img/icon-menu-cross.svg");
  }
}

.page-header__logo {
  padding: 20px 20px 16px 0px;
  .link-reset();
}

.page-header__navigation {
  display: none;

  &--open {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-header__wrapper {
    .wrapper(@tablet-width);
  }

  .page-header__logo {
    padding: 28px 20px 33px 0px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-header__top--open {
    background-color: fade(@black, 30%);
    border-color: transparent;
  }

  .page-header__wrapper {
    .wrapper-reset();
  }

  .page-header__main-wrapper {
    .wrapper(@desktop-width, 10px);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-header__logo {
    padding: 28px 20px 33px 0px;
  }

  .page-header__hamburger {
    display: none;
  }

  .page-header__navigation {
    display: block;
    width: auto;
  }
}
