.page-content__reviews {
  background-color: @white;
}

.page-content__effect {
  display: none;

  padding: 60px 0 60px 0;

  background-color: @white;
}

@media (min-width: @tablet-width) {
  .page-content__effect {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .page-content__effect {
    background-color: @bg-gray;
    padding-top: 0;
    padding-bottom: 70px;
  }
}
