.page-header {
  box-sizing: border-box;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  .background();
}

.page-header__top {
  min-height: 66px;
  background-color: fade(@black, 30%);

  &--open {
    background-color: @bg-darkblue;
  }
}

.page-header__wrapper {
  .wrapper(@mobile-width);
}

.page-header__hamburger {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 50px;
  height: 24px;
  .button-reset();
  background-image: url("../img/icon-menu-burger.svg");
  .background();

  &--open {
    width: 23px;
    background-image: url("../img/icon-menu-cross.svg");
  }
}

.page-header__logo {
  padding: 23px 20px;
  .link-reset();
}
