.social {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.social__item {
  display: inline-block;
  padding: 0 7px;
}

.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  margin: 0;
  padding: 0;

  text-align: center;

  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: fade(@bg-darkblue, 10%);
  background-color: transparent;

  fill: @text-blood;

  .background(50%, 50%, auto);

  &:hover,
  &:focus {
    border-color: @bg-darkblue;
  }

  &:active {
    border-color: @bg-darkblue;
    opacity: 0.1;
  }
}
